.receipts, .idcard{
    background: linear-gradient(45deg, #0008a5, #d242ec7a), url(https://static.vecteezy.com/system/resources/previews/022/251/543/non_2x/invoice-receipt-3d-rendering-icon-illustration-transparent-background-shopping-and-retail-png.png) no-repeat right bottom;
    min-height: 300px;
    background-size: contain;
    color: #fff;
}
.idcard{
    background: linear-gradient(45deg, #0fff7f, #50fdd546), url(https://static.vecteezy.com/system/resources/previews/020/482/211/original/3d-hand-hold-id-card-icon-with-checkmark-isolated-human-resources-plastic-card-job-search-concept-3d-render-illustration-png.png) no-repeat right bottom;
    background-size: contain;
    color: #0c0c0c !important;

}